.stat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat_bloc {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 120px;
    width: 260px;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.stat_bloc_text {
    margin-left: 17px;
}

.stat_bloc_text_numb {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 5px;
}

.stat_bloc_text_let {
    font-size: 14px;
    color: #74798C;
    font-weight: 500;
}

@media screen and (max-width:1450px) {
    .stat {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }

    .stat_bloc {
        margin: 10px;
    }
}