.radial {
    height: 270px;
    width: 260px;
    border-radius: 6px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    margin-top: 20px;
}

.radial_title {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 18px;
}

.radial_bloc {
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 153.5px;
    height: 153.5px;
    margin: 58px 53px;
    padding-top: 44px;
}

.radial_bloc_text {
    text-align: center;
    color: #74798C;
    font-weight: 500;
    line-height: 23px;
}

.radial_bloc_text_gras {
    font-size: 23px;
    color: black;
    font-weight: 600;
}

@media screen and (max-width:1240px) {
    .radial {
        height: 240px;
        width: 230px;
    }

    .radial_bloc {
        width: 130.5px;
        height: 130.5px;
        margin: 53px 51px;
    }

    .radial_bloc_text {
        line-height: 19px;
    }

    .radial_bloc_text_gras {
        font-size: 19px;
    }

    .radial_title {
        position: absolute;
        margin-top: 15px;
        margin-left: 15px;
        font-weight: 500;
        font-size: 17px;
    }
}