.main_bloc {
    width: 100%;
    min-height: 100%;
}

.main_display {
    max-width: 1350px;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.main_display_resp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_display_graph {
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main_display_stat {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width:1450px) {
    .main_display_graph {
        width: 96%;
        margin-right: 40px;
        margin-left: 40px;
        padding-left: 0px;

    }
}

@media screen and (max-width:1240px) {
    .main_display_graph {
        width: 100%;
        margin-right: 0px;
        margin-left: 5px;
    }
}