.welcome {
    padding: 35px 80px;
}

.welcome_title {
    font-size: 34px;
}

.welcome_title_red {
    color: #FF0101;
}

.welcome_texte {
    font-size: 19px;
    margin-top: 20px;
}

@media screen and (max-height:820px) {
    .welcome {
        padding: 25px 80px;
    }

    .welcome_title {
        font-size: 30px;
    }

    .welcome_texte {
        font-size: 17px;
        margin-top: 15px;
    }
}